@model WishComponentViewModel

@{
    ViewData["Title"] = "My Wish";
}

<a class="esh-basketstatus" asp-page="/Wish/Index">
        <div class="esh-wishstatus-image">
            <img src="~/images/wish.png" />
        </div>
</a>
