@page
@model PdfModel

@{
   ViewData["Title"] = "PdfCreator";
      

}
   <div class="container">
      <div class="row" >
   
            <br>

            <h1 class="text-center">O seu ficheiro está na pasta <span class="text-success">eShopOnWeb/src/Web/</span></h1>

      </div>
</div>